<div class="footer-wrap">

    <div class="left">
        <div class="logo-column">
            <img src="{{ 'dais--full-logo.svg' | asset_url }}" width="100" height="100" loading="lazy" alt="{{ shop.name }}" />
        </div>
        <div class="link-block footer-block">
            <span class="block-title">
                {{ 'Links' | escape }}
            </span>
            <ul>
                {% for link in linklists.footer-left.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a> 
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="link-block footer-block">
            <span class="block-title">
                {{ 'Links' | escape }}
            </span>
            <ul>
                {% for link in linklists.footer-right.links %}
                    <li>
                        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a> 
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="right">
        <div class="newsletter-block footer-block">
            <div class="wrapper">

                <div class="block-title">
                    <span>DAIS RECORDS<br />NEWSLETTER</span>
                </div>


                <div class="bottom">
                    {% form 'customer' %}
                        <div class="email">
                            <label for="email" style="display: none;">Email</label>
                            <input type="email" placeholder="peace@love.com" name="contact[email]" />
                        </div>
                        
                        <div class="submit">
                            <input type="submit" value="Subscribe" />
                        </div>
                    {% endform %}
                </div>

            </div>
        </div>

        <span class="attribution">COPYRIGHT © 2023, DAIS RECORDS</span>
    </div>

</div>
