{{ 'product--gallery.css' | asset_url | stylesheet_tag }}

<div class="image-gallery">

    {% comment %} 
    *
    * Featured Image
    *
    {% endcomment %}
    <div class="featured-image">
        <img id="featured_image_element" src="{{ product.featured_image | image_url: width: '2000' }}" />

        {% if product.metafields.music.preorder_status == true %}
            <div class="preorder-label">
                <span>{{ 'Preorder' | escape }}</span>
            </div>
        {% endif %}
    </div>

    {% comment %} 
    *
    * Thumbnails
    *
    {% endcomment %}
    {% if variant_images.size > 0 %}
        <div class="thumbnail-rack">

            {% for v in product.variants %}
                <div class="variant-thumbnail" data-id="{{ v.id }}" data-image="{{ v.featured_image | image_url }}" data-price="{{ v.price |  money_without_trailing_zeros }}">
                    <img src="{{ v.featured_image | image_url }}" />
                </div>
            {% endfor %}

        </div>
    {% endif %}

</div>
