<div class="product-item">

{% comment %} 
  Image
{% endcomment %}
<div class="image" onclick="window.location='{{ prod.url }}';">
  {% if prod.featured_image %}
    <img src="{{ prod.featured_image | image_url: width: 900 }}" alt="{{ prod.title }}" loading="lazy" />
  {% else %}
    {{ 'image' | placeholder_svg_tag }}
  {% endif %}
</div>

{% comment %} 
  Info
{% endcomment %}
<div class="info">

  {% comment %} Left {% endcomment %}
  <div class="left">
    <div class="title type-writer">
      <a href="{{ prod.url }}" title="{{ prod.vendor }} - {{ prod.title }}">
        <h4>{{ prod.title }}</h4>
      </a>
    </div>
    <div class="artist">
      <a href="{{ prod.url }}" title="{{ prod.vendor }} - {{ prod.title }}">
        <h3>{{ prod.vendor }}</h3>
      </a>
    </div>
  </div>

  {% comment %} Right {% endcomment %}
  <div class="right">
    <div class="price type-writer">
      <a href="{{ prod.url }}" title="{{ prod.vendor }} - {{ prod.title }}">
        {{ prod.price | money_without_trailing_zeros }}
      </a>
    </div>
  </div>

</div>

</div>