<div class="cart-drawer--wrapper">

    {% comment %} CLOSE {% endcomment %}
    <div class="cart-drawer--close">
      <span>&times;</span>
    </div>

    {% comment %} ITEM TITLE {% endcomment %}
    <div class="cart-drawer--title">
      <h3 class="cart-title">Shopping Cart</h3>
    </div>    

    {% comment %} CART {% endcomment %}
    <form action="{{ routes.cart_url }}" method="post" class="my-cart">
        <div data-ajax-cart-section>

          {% comment %} ITEMS {% endcomment %}
          <ul class="my-cart__items" data-ajax-cart-section-scroll>
            {% for item in cart.items %}

              {% comment %} ITEM {% endcomment %}
              <li class="item">
                <div class="item-wrapper">

                
                  <div class="title">

                    {% comment %} TITLE {% endcomment %}
                    <div class="cart-item--title">
                      <a href="{{ item.url }}" title="{{ item.title }}">
                        {{ item.title }}
                      </a>
                    </div>
                    {% comment %} ARTIST {% endcomment %}
                    <a class="vendor" href="{{ item.url }}" title="{{ item.title }}">
                      {{ item.vendor }}
                    </a>

                  </div>




                  {% comment %} QUANTITY {% endcomment %}
                  <div class="quantity-input">
                    &times;
                    <input data-ajax-cart-quantity-input="{{ forloop.index }}" name="updates[]" value="{{ item.quantity }}" type="number" />
                  </div>

                  {% comment %} TOTAL {% endcomment %}
                  <div class="item-total">
                    {{ item.final_line_price | money_without_trailing_zeros }}
                  </div>

                  {% comment %} REMOVE 
                  <div class="remove-item">
                    <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">&times;</a>
                  </div>
                  {% endcomment %}



                </div>

                {% comment %} Messages {% endcomment %}
                <div class="ajax-messages">
                  <div data-ajax-cart-messages="{{ item.key }}"></div>
                </div>

              </li>
              
            {% endfor %}
          </ul>

          {% comment %} Cart Totals {% endcomment %}
          <div class="cart-total">
            <table>
              <tr>
                <td class="total-label"><span>{{ 'Total' | escape }}</span></td>
                <td><span>{{ cart.total_price | money_without_trailing_zeros }}</span></td>
              </tr>
            </table>
          </div>
      
          {% comment %} Add To Cart {% endcomment %}
          <button type="submit" name="checkout">
            {{ 'Checkout' | escape }}
          </button> 

        </div>
    </form>

    {% comment %} Go To Cart {% endcomment %}
    <div class="view-cart">
      <a href="{{ routes.cart_url }}" title="View Cart" class="view-cart--link">{{ 'Edit Cart' | escape }}</a>
    </div>

</div>
