{{ 'component--current-artists.css' | asset_url | stylesheet_tag }}

<section class="current-artists section" data-aos="fade-down" data-aos-delay="200">

  <header class="section--header">
    <div class="section--header-wrapper">
      <h2 class="title">{{ section.settings.section_title }}</h2>
      <a class="view-more" href="/pages/{{ section.settings.link_destination }}">View more</a>
    </div>
  </header>

  <div class="current-artists--wrapper">
    <ul class="current-artists--list">
      {% for product in collections.all.products %}

        {% case product.type %}
          {% when 'vinyl' %}

          <li class="artist">
            <div class="artist-wrapper">
              {% for collection in collections %}
                {% if collection.title == product.vendor %}

                  {% case collection.metafields.custom.alumni_status %}
                    {% when blank or false %}

                      <div class="image" style="background: url('{{ collection.image | image_url: width: 900 }}'); background-size: cover; background-position: center center;">
                        &nbsp;
                        
                        <div class="artist-data">
                          <span>Products {{ '(' | escape }}{{ collection.products_count }}{{ ')' | escape }}</span>
                          <span>Images {{ '(' | escape }}{{ collection.metafields.dais.artist_gallery.value.count }}{{ ')' | escape }}</span>
                        </div>
                        <div class="view-more">
                          <a href="{{ collection.url }}" title="{{ collection.title }}">
                            {% render 'icon--view-more' %}
                          </a>
                        </div>
                      </div>

                      <div class="artist">
                        <a href="{{ collection.url }}" title="{{ collection.title }}">
                          {{ collection.title }}
                        </a>
                      </div>
                  {% endcase %}

                {% endif %}
              {% endfor %}
            </div>

          </li>

        {% endcase %}
      {% endfor %}
    </ul>

  </div>


</section>

{% schema %}
  {
    "name": "Current Artists",
    "tag": "section",
    "class": "current-artists",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      }, {
        "type": "page",
        "id": "link_destination",
        "label": "Link Destination"
      }
    ],
    "presets": [{
      "name": "Current Artists"
    }],
    "enabled_on": {
      "templates": ["index"]
    }
  }
{% endschema %}


<script>
  const slider = document.querySelector('.current-artists--list');
  let isDown = false;
  let startX;
  let scrollLeft;

  slider.addEventListener('mousedown', (e) => {
    isDown = true;
    slider.classList.add('active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  });

  slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('active');
  });

  slider.addEventListener('mouseup', () => {
    isDown = false;
    slider.classList.remove('active');
  });

  slider.addEventListener('mousemove', (e) => {
    if (! isDown) 
      return;
    


    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 3; // scroll-fast
    slider.scrollLeft = scrollLeft - walk;
    console.log(walk);
  });
</script>