<div class="latest-products section">

  {% comment %} Header {% endcomment %}
  <header class="section--header">
    <div class="section--header-wrapper">
      <h2 class="title" data-aos="fade-down">
        {{ section.settings.section_title }}
      </h2>
      <a class="view-more" data-aos="fade-in" data-aos-delay="800" href="/collections/featured">
        View more
      </a>
    </div>
  </header>

  {% comment %} Products {% endcomment %}
  <div class="latest-products--wrapper">
      {% for item in section.settings.latest_collection %}
        <div class="featured-product">

        {% comment %} Image {% endcomment %}
          <div class="image">
            <a href="{{ item.url }}" title="{{ item.title }}">
              {% if item.featured_image != blank %}
                <img src="{{ item.featured_image | image_url: width: 500 }}" alt="{{ item.title }}" loading="lazy" />
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </a>
          </div>

          {% comment %} Info {% endcomment %}
          <div class="info">
            <div class="title">
              <a href="{{ item.url }}" title="{{ item.title }}">
                <h5>{{ item.title }}</h5>
              </a>
            </div>
            <div class="artist type-writer">
              <a href="{{ item.url }}" title="{{ item.title }}">
                <h6>{{ item.vendor }}</h6>
              </a>
            </div>
          </div>

        </div>

      {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Latest Products",
    "tag": "section",
    "class": "latest-products",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "checkbox",
        "id": "choose_a_collection",
        "label": "Choose a collection",
        "default": true
      },
      {
        "type": "collection",
        "id": "latest_collection",
        "label": "Featured Collection"
      }
    ],
    "presets": [{
      "name": "Latest Products",
      "settings": {
        "choose_a_collection": true
      }
    }],
    "enabled_on": {
      "templates": ["*"]
    }
  }
{% endschema %}