<div class="single-product" data-type="merch">

  <h1 class="product-title">
    <a href="{{ product.url }}" title="{{ }} - {{ product.title }}">
      {{ product.title }}
    </a>
  </h1>
  <h2 class="artist-name">
    <a href="" title="{{ shop.metaobjects.artist.name }}">
      {{ shop.metaobjects.artist.name.value }}
    </a>
  </h2>

</div>

<script type="text/javascript">
  jQuery( document ).ready(function() {
  console.log({{ product | json }});
  console.log({{ shop.metaobjects.artist.values | json }});
  });
</script>