{{ 'page--search-results.css' | asset_url | stylesheet_tag }}

<div class="search-page">
  <div class="search-page-wrapper">

    {% render 'breadcrumbs' %}

    <div class="search-form">
      <form action="/search" method="get" role="search">
        <input name="q" type="search" id="search-field" placeholder="Search the shop" value="{{ search.terms | escape }}" />
        <input type="submit" value="{{ settings.search_button | default: "Start search" }}" />
      </form>
    </div>

    {% if search.performed %}
      {% paginate search.results by 10 %}
        
        {% if search.results_count == 0 %}  
          Your search for "{{ search.terms }}" did not yield any results.          
        {% else %}
          <ul class="results">
            {% for item in search.results %}      
              <li class="result">

                <div class="image">
                  <img src="{{ item | image_url: width: 300 }}" alt="{{ item.featured_image.alt  }}" />
                </div>

                <div class="title">
                  {% if item.vendor %}
                    <h3 class="vendor">{{ item.vendor | link_to: item.url }}</h3>
                  {% endif %}
                  <h2>{{ item.title | link_to: item.url }}</h2>
                </div>

                <div class="type">
                  {% if item.price %}
                    <span>{{ 'Product' | link_to: item.url }}</span>
                  {% endif %}
                  {% if item.object_type == 'article' -%}
                  {% assign trim = item.title | handleize %}
                    <a href="/blogs/{{ item.handle | remove: '/' | remove: trim }}" title="{{ item.handle | remove: '/' | remove: trim }}">
                      {{ item.handle | remove: '/' | remove: trim }}
                    </a>
                  {% endif %}
                </div>

                <script>console.log({{ item | json }})</script>
                
                <div class="actions">
                  {{ 'View' | link_to: item.url }}
                </div>
                   
              </li>
            {% endfor %}
          </ul>
        {% endif %}    
        
        {% render 'pagination--collection' paginate: paginate %}
      
      {% endpaginate %}  
      
    {% else %}

      <div class="empty-search">
        {% render 'recommended-products' %}
        <div class="current-artists">
          {% render 'current-artists' header: 'minimal' %}
        </div>
      </div>

    {% endif %}  

  </div>
</div>


