{{ 'page--search-results.css' | asset_url | stylesheet_tag }}

<div class="search-page">
  <div class="search-page-wrapper">

    {% render 'breadcrumbs' %}
    <div class="search-form">
      <form action="/search" method="get" role="search">
        <input name="q" type="search" id="search-field" placeholder="Search the shop" value="{{ search.terms | escape }}" />
        <input type="submit" value="Search again" />
      </form>
    </div>

    {% if search.performed %}


      <div class="search-title">
        <h1>{{ 'Showing ' | escape }}{{ search.results_count }}{{ ' results for ' | escape }}{{ '"' | escape }}{{ search.terms }}{{ '"' | escape }}</h1>
      </div>
      
      {% paginate search.results by 10 %}
        
        {% if search.results_count == 0 %}  
          Your search for "{{ search.terms }}" did not yield any results.          
        {% else %}
          <ul class="results">
            {% for item in search.results %}      
              <li class="result">

                <div class="image">
                  {{ item | img_url: 'small' | img_tag: item.featured_image.alt }}
                </div>

                <div class="title">
                  {% if item.vendor %}
                    <h3 class="vendor">{{ item.vendor | link_to: item.url }}</h3>
                  {% endif %}
                  <h2>{{ item.title | link_to: item.url }}</h2>
                </div>

                <div class="type">
                  {% if item.type == 'vinyl' or item.type == 'music' or item.type == 'merch' %}
                    <span>{{ item.type | link_to: item.url }}</span>
                  {% endif %}

                  blog id: 
                  <script>console.log({{ item | json }});</script>
                </div>
                
                <div class="actions">
                  {{ 'View' | link_to: item.url }}
                </div>
                   
              </li>
            {% endfor %}
          </ul>
        {% endif %}    
        
        {% render 'pagination--collection' paginate: paginate %}
      
      {% endpaginate %}    
    {% endif %}  

  </div>
</div>


